

.container .error-page  {
    width: 100%;
    text-align: center;
    justify-content: center;

    .flat-button{
        justify-content: center;
        float: right;
         margin: 6px 275px;

    }
}